<%= render partial: "shared/nav" %>

<h1>Discounts Index</h1>
<h4><%= link_to "Create New Discount", new_merchant_discount_path(@merchant) %></h4>
<h2>Discounts:</h2>
<% @merchant.discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <h4> <%= link_to "Discount #{discount.id}", merchant_discount_path(@merchant, discount) %></h4>
    <p>Percentage Discount: <%= discount.percent_discount %>%</p>
    <p>Quantity Threshold: <%= discount.threshold %></p>
    <%= button_to "Delete Discount #{discount.id}", merchant_discount_path(@merchant, discount), method: :delete %>
  </div>
<% end %>

